<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./output.css">
    <style>
        .patel
         {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
        
    </style>
</head>
<body>
    <section class="build"></section>
    <nav class="flex list-none gap-8 justify-between px-10 bg-black h-16 text-white
    items-center">
    <div class="w-9 ">
        <img src="logo4.jpg">
    </div>
    <ul class="flex list-none  gap-8 justify-end px-10">
        <li><a href="index.html">Home</a></li>
         <li><a href="Site.html">Site</a></li>
        <li><a href="Gallery.html">Gallery</a></li>
        <li><a href="About.html">About</a></li>
        <li><a href="Contact.html">Contact</a></li>
    </ul> 
    </nav>
    <br>
    <div class="bg-yellow-200 text-center
    text-4xl text-red-500 font-bold w-88 mx-auto">
       Seventh Group
    </div>
    <br>
    <div class="flex mx-auto ml-[70px] ">
     <img src="E:\internship/house3.jpg" >
     </div>
     <section class="w-4/5 mx-auto my-10 text-center text-gray-500">
        <h1 class="text-center text-4xl font-bold">Welcome to seventh-orchid <br>
            <span class="text-red-500"> The views !</span></h1>
            <br><div>
                Express yourself with a custom house building design created 
                <br>just for you by a professional designer. Need ideas? We’ve collected 
                <br>some amazing examples of house building images from our global community 
                <br>of designers. Get inspired and start planning the perfect house building design today.
            </div>
     </section>
     <section class="w-full flex">
        <div class="w-1/2 h-[500px] bg-black text-white flex flex-col p-20">
        <div class="text-4xl font-bold underline">About us</div>
        <div class="mt-14 leading-8">
            A great design shows the world what you stand for, tells a story 
            and makes people remember your brand. Graphic design communicates all of 
            that through color, shape and other design elements.
             Learn how to make your house building design tell your brand’s story.
        </div>
        </div>
        <img class="w-1/2 h-[500px] " src="E:\internship/house2.jpg" >
     </section>
     <div class="text-4xl font-bold my-10 text-center ">Our Happy<span class="text-red-500">Clients</span></div>
     <section class="flex w-4/5 mx-auto gap-10 justify-center flex-wrap bg-blue-200">
        <iframe class="w-1/4 aspect-square" src="https://www.youtube.com/embed/c1Qeeup8QmY?si=3w1KEUccJgWL7ilN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="w-1/4 aspect-square" src="https://www.youtube.com/embed/EPO0ep38Acs?si=qHN6RdIBO_cTg1FF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="w-1/4 aspect-square" src="https://www.youtube.com/embed/WgY48alztps?si=o886C_a0qQOghmfF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     </section>
     <br>
     <div class="text-center text-4xl text-red-500">Over location below</div>
     <br>
     <section class="w-full flex">
        <div class="w-1/2 h-[500px] bg-black text-white flex flex-col p-20">
        <div class="text-4xl font-bold underline">Address</div>
        <div class="mt-14 leading-8 text-2xl">
            Seventh Orchid, 
            <br>Malabar County Rd, 
            <br>Jagatpur Village, Gota, 
            <br>Ahmedabad, Gujarat 382481
            </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3669.5416885886666!2d72.5457387!3d23.113867399999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e83c525a233e7%3A0x96fa740069893d8f!2sSeventh%20Orchid!5e0!3m2!1sen!2sin!4v1749793352804!5m2!1sen!2sin" width="670" height="490" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
     </section>
     <br>
     <div class="bg-black">
     <div class="reecosys-footer-content">

       <div class="reecosys_footer_web ng-scope" ng-if="!isMobilescreen">
            <div class="web_footer_content bg-black text-white flex gap-20">
                <div class="footer_application_flex_web bg-black text-white">
                    <div class="reecosys-brand-logo-footer bg-black text-white">
                        <br>
                        <div>
                            <a href="https://www.seventhgroup.co.in/" title="Seventh Group">
                                <img alt="" src="logo7.jgp">
                            </a>
                        </div>    
                    </div>      
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="project_application_link">
                        <div class="project_app_image">
                            <a href="https://play.google.com/store/apps/details?id=com.seventh.group" target="_blank">
                                <img class=" w-40 border-2" src="google play.jpg" alt="">
                            </a>
                        </div>
                        <br>
                        <div class="project_app_image">
                            <a href="https://apps.apple.com/in/app/seventh-group/id1641852008" target="_blank">
                                <img class="w-40 h-16" src="app store.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                    <br>
                    <br>
                  
            <div class="project_other_links ng-scope text-white" ng-repeat="category_data in projects_category" ng-if="category_data.category" >
                    <p class="project_links_title ng-binding text-white underline text-2xl">residential</p>
                    <ul>
                        <br>
                        <!-- ngRepeat: data in projects_full_list --><!-- ngIf: data.category == category_data.category --><li ng-repeat="data in projects_full_list" ng-if="data.category == category_data.category" class="ng-scope">
                            <!-- ngIf: data.project_id != 202 -->
                            <!-- ngIf: data.project_id == 202 --><a href="#" ng-class="{'active_page': activePath == '/project/stark-torré/'}" title="Stark Torré" target="_blank" ng-if="data.project_id == 202" class="ng-scope">
                                <p class="capitalize ng-binding">Stark Torré</p>
                            </a><!-- end ngIf: data.project_id == 202 -->
                        </li><!-- end ngIf: data.category == category_data.category --><!-- end ngRepeat: data in projects_full_list --><!-- ngIf: data.category == category_data.category --><li ng-repeat="data in projects_full_list" ng-if="data.category == category_data.category" class="ng-scope">
                            <!-- ngIf: data.project_id != 202 --><a href="#" ng-class="{'active_page': activePath == '/project/seventh-orchid/'}" title="Seventh Orchid" ng-if="data.project_id != 202" class="ng-scope">
                                <p class="capitalize ng-binding">Seventh Orchid</p>
                            </a><!-- end ngIf: data.project_id != 202 -->
                            <!-- ngIf: data.project_id == 202 -->
                        </li><!-- end ngIf: data.category == category_data.category --><!-- end ngRepeat: data in projects_full_list --><!-- ngIf: data.category == category_data.category --><li ng-repeat="data in projects_full_list" ng-if="data.category == category_data.category" class="ng-scope">
                            <!-- ngIf: data.project_id != 202 --><a href="#" ng-class="{'active_page': activePath == '/project/seventh-bliss/'}" title="Seventh Bliss" ng-if="data.project_id != 202" class="ng-scope">
                                <p class="capitalize ng-binding">Seventh Bliss</p>
                            </a><!-- end ngIf: data.project_id != 202 -->
                            <!-- ngIf: data.project_id == 202 -->
                        </li><!-- end ngIf: data.category == category_data.category --><!-- end ngRepeat: data in projects_full_list --><!-- ngIf: data.category == category_data.category --><li ng-repeat="data in projects_full_list" ng-if="data.category == category_data.category" class="ng-scope">
                            <!-- ngIf: data.project_id != 202 --><a href="#" ng-class="{'active_page': activePath == '/project/seventh-yash/'}" title="Seventh Yash" ng-if="data.project_id != 202" class="ng-scope">
                                <p class="capitalize ng-binding">Seventh Yash</p>
                            </a><!-- end ngIf: data.project_id != 202 -->
                            <!-- ngIf: data.project_id == 202 -->
                        </li><!-- end ngIf: data.category == category_data.category --><!-- end ngRepeat: data in projects_full_list --><!-- ngIf: data.category == category_data.category --><li ng-repeat="data in projects_full_list" ng-if="data.category == category_data.category" class="ng-scope">
                            <!-- ngIf: data.project_id != 202 --><a href="#" ng-class="{'active_page': activePath == '/project/spectrum-elegance/'}" title="Spectrum Elegance" ng-if="data.project_id != 202" class="ng-scope">
                                <p class="capitalize ng-binding">Spectrum Elegance</p>
                            </a><!-- end ngIf: data.project_id != 202 -->
                            <!-- ngIf: data.project_id == 202 -->
                        </li><!-- end ngIf: data.category == category_data.category --><!-- end ngRepeat: data in projects_full_list --><!-- ngIf: data.category == category_data.category --><li ng-repeat="data in projects_full_list" ng-if="data.category == category_data.category" class="ng-scope">
                            <!-- ngIf: data.project_id != 202 --><a href="#" ng-class="{'active_page': activePath == '/project/seventh-paradise/'}" title="Seventh Paradise" ng-if="data.project_id != 202" class="ng-scope">
                                <p class="capitalize ng-binding">Seventh Paradise</p>
                            </a><!-- end ngIf: data.project_id != 202 -->
                            <!-- ngIf: data.project_id == 202 -->project
                        </li><!-- end ngIf: data.category == category_data.category --><!-- end ngRepeat: data in projects_full_list --><!-- ngIf: data.category == category_data.category --><li ng-repeat="data in projects_full_list" ng-if="data.category == category_data.category" class="ng-scope">
                            <!-- ngIf: data.project_id != 202 --><a href="#" ng-class="{'active_page': activePath == '/project/seventh-grace/'}" title="Seventh Grace" ng-if="data.project_id != 202" class="ng-scope">
                                <p class="capitalize ng-binding">Seventh Grace</p>
                            </a><!-- end ngIf: data.project_id != 202 -->
                            <!-- ngIf: data.project_id == 202 -->
                        </li><!-- end ngIf: data.category == category_data.category --><!-- end ngRepeat: data in projects_full_list --><!-- ngIf: data.category == category_data.category --><li ng-repeat="data in projects_full_list" ng-if="data.category == category_data.category" class="ng-scope">
                            <!-- ngIf: data.project_id != 202 --><a href="#" ng-class="{'active_page': activePath == '/project/seventh-parisar/'}" title="Seventh Parisar" ng-if="data.project_id != 202" class="ng-scope">
                                <p class="capitalize ng-binding">Seventh Parisar</p>
                            </a><!-- end ngIf: data.project_id != 202 -->
                            <!-- ngIf: data.project_id == 202 -->
                        </li><!-- end ngIf: data.category == category_data.category --><!-- end ngRepeat: data in projects_full_list --><!-- ngIf: data.category == category_data.category --><li ng-repeat="data in projects_full_list" ng-if="data.category == category_data.category" class="ng-scope">
                            <!-- ngIf: data.project_id != 202 --><a href="#" ng-class="{'active_page': activePath == '/project/seventh-avenue/'}" title="Seventh Avenue" ng-if="data.project_id != 202" class="ng-scope">
                                <p class="capitalize ng-binding">Seventh Avenue</p>
                            </a><!-- end ngIf: data.project_id != 202 -->
                            <!-- ngIf: data.project_id == 202 -->
                        </li><!-- end ngIf: data.category == category_data.category --><!-- end ngRepeat: data in projects_full_list -->
                    </ul>
                    </div>
                    <div class="project_other_links ml-20">
                    <p class="project_links_title text-white underline text-2xl">Quick links</p>
                    <ul>
                        <br>
                        <li>
                            <a href="#" ng-class="{'active_page': activePath == '/'}" 
                            title="Home">
                                <p class="capitalize"> Home </p>
                            </a>
                        </li>
                       
                <li ng-repeat="data in page_full_list" ng-if="data.page_type == ''" class="ng-scope" >
                            <a href="#" ng-class="{'active_page': activePath == '/channelpartner/'}" target="" title="channel partner">
                                <p class="capitalize ng-binding">channel partner</p>
                            </a>
                        </li><li ng-repeat="data in page_full_list" ng-if="data.page_type == ''" class="ng-scope">
                            <a href="#" ng-class="{'active_page': activePath == '/redevelopment/'}" target="" title="Redevelopment">
                                <p class="capitalize ng-binding">Redevelopment</p>
                            </a>
                        </li><!-- end ngIf: data.page_type == '' --><!-- end ngRepeat: data in page_full_list --><!-- ngIf: data.page_type == '' --><li ng-repeat="data in page_full_list" ng-if="data.page_type == ''" class="ng-scope">
                            <a href="#" ng-class="{'active_page': activePath == '/vendor/'}" target="" title="vendor">
                                <p class="capitalize ng-binding">vendor</p>
                            </a>
                        </li><!-- end ngIf: data.page_type == '' --><!-- end ngRepeat: data in page_full_list --><!-- ngIf: data.page_type == '' --><li ng-repeat="data in page_full_list" ng-if="data.page_type == ''" class="ng-scope">
                            <a href="#" ng-class="{'active_page': activePath == '/career/'}" target="" title="Career">
                                <p class="capitalize ng-binding">Career</p>
                            </a>
                        </li><!-- end ngIf: data.page_type == '' --><!-- end ngRepeat: data in page_full_list --><!-- ngIf: data.page_type == '' --><li ng-repeat="data in page_full_list" ng-if="data.page_type == ''" class="ng-scope">
                            <a href="#" ng-class="{'active_page': activePath == '/about-us/'}" target="" title="About Us" class="active_page" >
                                <p class="capitalize ng-binding">About Us</p>
                            </a>
                        </li><!-- end ngIf: data.page_type == '' --><!-- end ngRepeat: data in page_full_list --><!-- ngIf: data.page_type == '' --><li ng-repeat="data in page_full_list" ng-if="data.page_type == ''" class="ng-scope">
                            <a href="#" ng-class="{'active_page': activePath == '/contact-us/'}" target="" title="contact">
                                <p class="capitalize ng-binding">contact</p>
                            </a>
                        </li><!-- end ngIf: data.page_type == '' --><!-- end ngRepeat: data in page_full_list -->
                        <!-- ngRepeat: data in venture_full_list --><!-- ngIf: data.slug != 'studio-i7' --><li ng-repeat="data in venture_full_list" ng-if="data.slug != 'studio-i7'" class="ng-scope" >
                            <a href="#" class="capitalize" ng-class="{'active_page': activePath == '/Studio-i7/'}">
                                <p class="capitalize ng-binding">Studio i7</p>
                            </a>
                        </li><!-- end ngIf: data.slug != 'studio-i7' --><!-- end ngRepeat: data in venture_full_list -->
                        <li>
                            <a href="#" ng-class="{'active_page': activePath == '/blogs/'}" title="https://www.seventhgroup.co.in/">
                                <p class="capitalize"> Blogs </p>
                            </a>
                        </li>
                        <!-- ngRepeat: data in venture_full_list --><!-- ngIf: data.slug == 'studio-i7' --><!-- end ngRepeat: data in venture_full_list -->
                    </ul>
                </div>
                </div>
     <br>
     
     <div class="text-4xl text-red-500 text-center">follow us</div>
     <br>
     <div class="patel">
        <div class="footer-social-links mx-auto">
            <ul style="list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    ">
            <li><a href="https://www.facebook.com/AdaniOnline" target="_blank" rel="nofollow, noreferrer"><img class="w-10 ml-12 " src="facebook.jpg" alt="Facebook" title=""></a></li>
            <li><a href="https://www.instagram.com/adanionline/" target="_blank" rel="nofollow, noreferrer"><img class="w-10 ml-12 " src="instagram.jpg" alt="" title=""></a></li>
            <li><a href="https://www.youtube.com/user/AdaniOnline" target="_blank" rel="nofollow, noreferrer"><img class=" w-10 ml-12" src="youtube.jpg" alt="Youtube" title=""></a></li>
            <li><a href="https://www.linkedin.com/company/adani-group/" target="_blank" rel="nofollow, noreferrer"><img class=" w-10 ml-12" src="linkedIn.jpg" alt="Linkedin" title=""></a></li>
            <li><a href="https://twitter.com/adanionline" target="_blank" rel="nofollow, noreferrer"><img class=" w-10 ml-12" src="X.jpg" title=""></a></li>
            </ul>
            </div>
            </div>
            <br>
        <p class="text-2xl text-center text-white">&copy; 2025 <span class="text-blue-500">Patel Trusha.</span></p>
        </div>
        </section>
</body>
</html>

